body {
	background-color: #94d4d6;
}
h1 {
	font-family: Algerian, sans-serif;
	color: #2758b3;
	text-align: center;
}
h2 {
	font-family: Trebuchet MS, sans-serif;
	color: #591061;
}
p {
	font-size: 14px;
	color: #2e0840;
}
ul {
	font-weight: bolder;
	font-style: italic;
}
a:link { color: #FF0000; }
a:visited { color: #00FF00; }
a:hover { color: #FF00FF; }
a {
	text-decoration: none;
}
p:first-letter {
	font-size: 150%;
	color: red;
}
.mood {
	padding: 10px;
	height: 200px;
	width: 300px;
}
